PLATFORM_NAME=Test Platform v2
PLATFORM_KEY=afya_2d00d74512953c933172ab924f5073fa
PLATFORM_SECRET=your_secret_here
BASE_URL=https://staging.collabmed.net/api/external
CALLBACK_URL=http://localhost/callback